[submodule "pacman-contest"]
	path = pacman-contest
	url = git@github.com:jsego/pacman-contest.git
	branch = main
[submodule "pacman-agent"]
	path = pacman-agent
	url = git@github.com:jsego/pacman-agent.git
	branch = main
