/* Some variables */

:root {
    --page-bg-color: #EEE;
    --page-color: #EEE;
    --table-headings-bg-color: #E8DFD1;
    --table-odd-rows-bg-color: #FFFBF2;
    --table-even-rows-bg-color: #FFFCE5;
    
    --table-color: #FFF;
    --table-bg-color: #ffb300;
    --table-hover-bg-color: #5E84AA;
    --table-th-color: rgb(255, 255, 255);
    --table-border-color: #46637F;
    
  }
  
  body {
      background-color: var(--page-bg-color);
      color: var(--page-color);
      font-family: 'Bowlby One', sans-serif;
      font-weight: normal;
  }
  
  /* Tables general styling */
  table {
      border: none;
      border-collapse: collapse;
      border-radius: 10px;
      background-color: var(--table-bg-color);
      color: var(--table-color);
  }
  td, th {
      padding: 15px;
      border: none;
      font-size: 18px;
      text-align: center;
  }
  
  /* Table headings */
  th {
      color: var(--table-th-color);
  }
  
  td {
      border-top: 1px solid var(--table-border-color);
      font-weight: normal;
  }
      
  
  /* Rows with mouse hovering */
  tr:hover td {
      background-color: var(--table-hover-bg-color);
  }
  
  /* Bottom left/right cells with mouse hovering*/
  tr:hover:last-child td:first-child {
      border-radius: 0 0 0 10px;
  }
  tr:hover:last-child td:last-child {
      border-radius: 0 0 10px 0;
  }
  
  body {
      font-family: 'Montserrat', sans-serif;
  }
  
  h1, h2, a {
      font-family: 'Bowlby One', sans-serif;
      font-weight: normal;
      /* font-family: 'Good Times Rg';*/
  }
  
  a {
      display: inline-block;
      padding-bottom: 10px;
      color: black;
  }

.framer-1yj4cz1 {
    height: 350px !important;
}

.framer-1yj4cz1 img {
    width: 100%;
    height: auto;
}



#matchDetails table {
      width: 100%;
      font-size: 12px;
      border-collapse: collapse;
    }

#matchDetails th:last-child, #matchDetails td:last-child {
    white-space: normal;
    word-wrap: break-word;
}






#video-player-container {
    position: fixed;  /* Keep it fixed so that the video playback window will be fixed on the screen */
    right: 30px;  /* Distance from the right side of the screen */
    top: 50%;  /* Set the top edge to 50% of the screen height to center it vertically */
    transform: translateY(-50%);  /* Use transform to fine-tune it so it's perfectly centered vertically */
    width: 400px;  /* You can adjust the width as needed */
    height: 360px;  /* You can adjust the height as needed */
    background-color: transparent;
    border: none;
    border-radius: 0;
    padding: 0;
    z-index: 1000;  /* Ensure that the video playback window always appears above other elements */
}


#video-player-container h2 {
    margin-bottom: -80px;
    background-color: transparent;

}

#videoPlayer {
    margin-top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    margin: 0;
    
}
